<div class="row">
  <aside class="col-sm-4">
    <%= render  'users/profile' %>
    <%= render 'relationships/follow_button', user: @user %>
  </aside>
  <div class="col-sm-8">
    <%= render  'users/navtab' %>
    <%= render 'users', users: @followers %>
  </div>
</div>